# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Perconall.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\Perconall\.idea\.idea.Perconall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
